Source: proxmox-termproxy
Section: admin
Priority: optional
Build-Depends: cargo:native,
               debhelper-compat (= 13),
               dh-cargo (>= 25),
               librust-anyhow-1+default-dev,
               librust-form-urlencoded-dev,
               librust-libc-0.2+default-dev (>= 0.2.107-~~),
               librust-mio-1+default-dev,
               librust-mio-1+net-dev,
               librust-mio-1+os-ext-dev,
               librust-nix-0.29+default-dev (>= 0.26.1-~~),
               librust-pico-args-0.5+default-dev,
               librust-proxmox-io-1+default-dev,
               libstd-rust-dev,
               rustc:native,
Maintainer: Proxmox Support Team <support@proxmox.com>
Standards-Version: 4.6.1
Vcs-Git: git://git.proxmox.com/git/pve-xtermjs.git
Vcs-Browser: https://git.proxmox.com/?p=pve-xtermjs.git;a=summary
Homepage: https://www.proxmox.com
Rules-Requires-Root: no

Package: proxmox-termproxy
Architecture: any
Multi-Arch: allowed
Depends: ${misc:Depends}, ${shlibs:Depends},
Recommends: pve-xtermjs
Breaks: pve-xtermjs (<< 5.3.0~)
Replaces: pve-xtermjs (<< 5.3.0~)
Description: Wrapper proxy for executing programs in the system terminal
 This package provides an wrapper for running commands in a system terminal,
 redirecting input via a special protocol and returning the PTY output 1:1.
 It's used for the backend of the xterm.js based host and virtual guest
 consoles in Proxmox projects like Proxmox VE or Proxmox Backup Server.
