Source: pve-xtermjs
Section: web
Priority: optional
Maintainer: Proxmox Support Team <support@proxmox.com>
Build-Depends: debhelper (>= 9.0.0~),
               libpve-common-perl,
Standards-Version: 3.8.3

Package: pve-xtermjs
Architecture: any
Depends: libpve-common-perl (>= 5.0-23),
         libwww-perl,
         ${misc:Depends}
Description: HTML/JS Shell client
 This is an xterm.js client for PVE Host, Container and Qemu Serial Terminal
