#!/usr/bin/make -f

include /usr/share/dpkg/pkg-info.mk
include /usr/share/rustc/architecture.mk

%:
	dh $@ --buildsystem cargo

override_dh_auto_build:
	dh_auto_build
	sed -e 's/@VERSION@/$(DEB_VERSION)/' src/www/index.html.tpl.in > src/www/index.html.tpl
	sed -e 's/@VERSION@/$(DEB_VERSION)/' src/www/index.html.hbs.in > src/www/index.html.hbs
	rm src/www/index.html.tpl.in src/www/index.html.hbs.in
