#!/usr/bin/make -f

%:
	dh $@ --buildsystem cargo

override_dh_auto_build:
	dh_auto_build
	sed -e 's/@VERSION@/${VERSION}/' src/www/index.html.tpl.in > src/www/index.html.tpl
	sed -e 's/@VERSION@/${VERSION}/' src/www/index.html.hbs.in > src/www/index.html.hbs
	rm src/www/index.html.tpl.in src/www/index.html.hbs.in
